@import "_theme.scss";

div.all-enseignes {
    position: relative;
    padding: 0 $default-page-padding;
    div.list {
        @include flex-container;
        @include md {
            flex-direction: row;
        }
        margin-bottom: 30px;
    }
}