@import "_theme.scss";

div.browse-main {
    .browse-presets {
        position: relative;
        margin: 0 $default-page-padding 60px $default-page-padding;
        @include flex-container;
        &>div {
            margin: $default-card-margin;
        }

    }

    .zoning {
        padding: 30px $default-page-padding;
    }

    .browse-sort {
        @include flex-container;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        div.sort-by {
            @include md {
                display: none;
            }
        }
    }

    .pagination {
        text-align: center;
        margin: 60px 0 30px 0;
    }

    .browse {
        @include flex-container;
        flex-wrap: nowrap;
        justify-content: flex-start;
        .browse-filter {
            width: 300px;           
            padding: 0 15px 50px 10px;
            @include md {
                width: 100%;                
            }
            .ant-row.ant-form-item {
                margin-bottom: 5px;
                padding: 0 5px;
                .ant-form-item-control-input-content {
                    padding-left: 20px;
                }
            }
            p.top-sec {
                margin-left: 6px;
            }
        }
    
        .browse-result {
            flex: 1;
            position: relative;
            margin-bottom: 50px;
            p.loading-spin {
                position: absolute;
                top:-8px;
                left: 19px;
                .ant-spin-dot-item {
                    background-color: #ffffff;
                }
            }
        }
    }
}