@import '~antd/dist/antd.dark.css';
@import '_theme.scss';

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $primary-background-color;
    font-size: $default-fontSize;

    a {
        color: $link-color;
        &:hover {
            color: $link-color-hover;
            text-decoration: underline;
        }
    }
    audio {
        display: block;
        width: 100%;
        outline: none;
        margin-bottom: 10px;
    }

    div.flexgrid {
        @include flex-container;
        align-items: flex-start;
        justify-content: flex-start;
        &>div {
          margin: 5px;  
        }
    }

    img.ant-image-img {
        cursor: pointer;
    }

    .zoning {
        background: $zoning-background;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

    .main-header {
        position: relative;
        height: 100px;
        @include flex-container;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        
        h1 {
            display: block;
            position: relative;
            width: 300px;
            height: 60px;
            a {
                display: block;
                text-indent: -1000px;
                overflow: hidden;
                width: 300px;
                height: 260px;
                position: absolute;
                background-size: contain;
                top: -45px;
                left: 20px;
                z-index: 1000;
            }
        }
        ul {
            background: none !important;
        }
        li, li a {
            text-transform: uppercase;
            font-size: 1.18em;
            color:$link-color;
        }
        .ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover
        ,.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
            background-color: transparent;
            text-decoration: none;
        }
        .ant-menu-dark .ant-menu-item-selected > a
        , .ant-menu-dark .ant-menu-item-selected > span > a
        , .ant-menu-dark .ant-menu-item-selected > a:hover
        , .ant-menu-dark .ant-menu-item-selected > span > a:hover {
            color: $link-color-hover;
            text-decoration: none;
        }
        .ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a, .ant-menu-dark .ant-menu-item > span > a {
            color: $link-color;
            text-decoration: none;
        }
        .ant-menu-overflowed-submenu {
            font-size: 4em;
        }

    }


    .main-content-page {
        padding: 10px 100px;
    }

    .main-footer {
        @include flex-container;
        background: #000000;
        padding: 50px 20px;
        & > div {
            margin: 0 30px;
        }
        .sitemap li {
            list-style: none;
            font-size: 1.3em;
            &.home a {
                color: $default-darklightcolor;
            }
        }
    }
}
h2 {
    font-size: 1.42em;
    text-transform: uppercase;
    @include regular;
}
h3 {
    font-size: 1.14em;
    text-transform: uppercase;
    @include regular;
}
.flexpart-4 {
    flex: 4;
}
.flexpart-3 {
    flex: 3;
}
.flexpart-2 {
    flex: 2;
}
.flexpart-1 {
    flex: 1;
}