@import '~antd/dist/antd.dark.css';
@import '_theme.scss';

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $primary-background-color;
    font-size: $default-fontSize;

    a {
        color: $link-color;
        &:hover {
            color: $link-color-hover;
            text-decoration: underline;
        }
    }


    .main-header {
        position: relative;
        height: 100px;
        h1 {
            a {
                display: block;
                text-indent: -1000px;
                overflow: hidden;
                width: 300px;
                height: 300px;
                position: absolute;
                background-size: contain;
                top: -45px;
                left: 20px;
                z-index: 1000;
            }
        }
        ul {
            float: right;
            background: none !important;
        }
        li a {
            text-transform: uppercase;
            font-size: 1.2em;
        }

    }


    .main-content-page {
        padding: 10px 100px;
    }

    .main-footer {
        @include flex-container;
        background: #000000;
        padding: 50px 20px;
        & > div {
            margin: 0 30px;
        }
        .sitemap li {
            list-style: none;
            font-size: 1.3em;
            &.home a {
                color: $default-darklightcolor;
            }
        }
    }
}
h2 {
    font-size: 1.42em;
    text-transform: uppercase;
    @include regular;
}
h3 {
    font-size: 1.14em;
    text-transform: uppercase;
    @include regular;
}
.flexpart-4 {
    flex: 4;
}
.flexpart-3 {
    flex: 3;
}
.flexpart-2 {
    flex: 2;
}
.flexpart-1 {
    flex: 1;
}