@import '~antd/dist/antd.dark.css';
@import '_theme.scss';

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $primary-background-color;
    font-size: $default-fontSize;
}
h2 {
    font-size: 1.5em;
    @include bold;
}
