@import '_theme.scss';

div.enseigne-main-container{
    div.article-container.article-enseigne {
        margin: 60px $default-page-padding 0 $default-page-padding !important;
    }
    div.escpae-include {
        margin: 0 $default-page-padding 60px $default-page-padding !important;
    }
}
div.enseigne-main {
    div.meta-card.full {
        margin: 10px 0;
    }
    div.logo-area {
        text-align: center;
        padding-top: 20px;
    }
}