@import '_theme.scss';

div.enseigne-main-container{
    div.article-container.article-enseigne {
        margin: 60px 10% 0 10% !important;
    }
    div.escpae-include {
        margin: 0 10% 60px 10% !important;
    }
}
div.enseigne-main {
    div.meta-card.full {
        margin: 10px 0;
    }
}