@import '_theme.scss';

div.escape-card {
    .meta-card-details {
        .tags {
            margin-top: 20px;
            line-height: 1.9em;
            .ant-tag {
                color:$default-darklightcolor;
                border-color: $default-darklightcolor;
                margin-right: 2px;
            }
        }
    }
}