@import '_theme.scss';

div.escape-card {
    &.full span.note {
        margin: 10px 20px 0 20px;
        font-size: 1em;
    }
    span.note {
        font-size: 1.5em;
        float: right;
        margin: 3px 16px 0 0;
    }
    &.full .flexpart-left {
        min-width: 400px;
        @include md {
            min-width: auto;
        }
    }
    .meta-card-details {
        .tags {
            margin-top: 20px;
            line-height: 1.9em;
            .ant-tag {
                color:$default-darklightcolor;
                border-color: $default-darklightcolor;
                margin-right: 2px;
            }
        }
    }
}