span.note {
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    padding-right: 0.9em;
    height: 0.9em;
    display: inline-block;
    line-height: 1em;
}