@import '_theme.scss';

$picheight: 210px;
$picratio: 4/3;



div.meta-card {
    &.full {
        position: relative;
        padding-left: 60px;
        margin: 10px;
    }


    

    .meta-card-mini {
        display: block;
        border-radius: $default-radius;
        width: #{$picheight * $picratio};
        height: $picheight;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        background-position-y: 50%;
        box-shadow: 3px 3px 15px 5px #13131330;
        &.full {
            margin: 25px 0 0 0;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .meta-card-details {
        &.full {
            @include flex-container;
            resize: horizontal;
            overflow: hidden;
            background: #ffffff;
            border-radius: $default-radius;
            min-height: #{$picheight * $picratio};        
            padding: 30px 20px 20px #{$picheight * $picratio - 30px};
            color:$default-darklightcolor;
            .title {
                font-size: 2em;
                color: $default-darkcolor;
                white-space: nowrap;
            }
        }
        &.reduce {
            .title {
                font-size: 1em;
                color: #ffffff;
                margin: 5px 0 -4px 0;
            }
            .sub-title {
                font-style: italic;
                @include light;
            }
        }
        p {
            margin: 0;
        }
        .date {
            color: $default-darkcolor;
            text-transform: capitalize;
            margin-bottom: 10px;
        }
        .title {
            font-size: 2em;
            color: $default-darkcolor;
            white-space: nowrap;
        }
        .sub-title, .sup-title {
            font-size: 1em;
            color:$default-darklightcolor;
        }
        .sup-title {
            font-style: italic;
        }
        .description {
            padding: 0 10px;
        }
    }
}