@import '_theme.scss';

div.selection-main {
    div.meta-card.full {
        margin: 10px 0;
    }
    div.escpae-include {
        margin: 0 10% 60px 10% !important;
    }
    div.page-back {
        margin: 0 10% 0 10%;
    }
}
div.all-selections {
    position: relative;
    margin-bottom: 60px;
}
