@import '_theme.scss';

div.selection-main {
    div.meta-card.full {
        margin: 10px 0;
    }
    div.escpae-include {
        margin: 0 $default-page-padding 60px $default-page-padding !important;
        @include md {
            margin: 0 $mobile-page-padding 60px $mobile-page-padding !important;
        }
    }
    div.page-back {
        margin: 0 $default-page-padding;
        margin-bottom: -70px;
        position: relative;
        top: -70px;
    }
}
div.all-selections {
    position: relative;
    margin-bottom: 60px;
}